<div class="benefits wrapper">
<h2 class="benefits__title">{{ benefits.benefitsTitle }}</h2>
       <div class="benefits__main benefits__slider">
        <div class="benefits__item">
            <div class="benefits__img benefits__img_first"></div>
            <div class="benefits__text">
            <p>{{ benefits.lowestPrices }}</p>
            </div>
        </div>
        
                <div class="benefits__item">
            <div class="benefits__img benefits__img_second"></div>
            <div class="benefits__text">
            <p>{{ benefits.comparison }}</p>
            </div>
        </div>
        
                <div class="benefits__item">
            <div class="benefits__img benefits__img_third"></div>
            <div class="benefits__text">
            <p>{{ benefits.globalSupport }}</p>
            </div>
        </div>
    </div>
</div>