<div class="now">
    <h4 class="now__title now__title_first">{{ now.nowTitleFirst }}</h4>
      <h4 class="now__title">{{ now.nowTitle }}</h4>
    <a class="nowButton"href="#">
            <img src="images/g.png" alt="" class="nowButton__img">
            <p class="nowButton__text_first">{{ now.nowButtonTextFirst }}</p>
            <p class="nowButton__text_second">{{ now.nowButtonTextSecond }}</p>
        </a>
</div>