<div class="stores wrapper">
    <h2 class="stores__title">{{ stores.storesTitle }}</h2>
    <div class="stores__first">
        <div class="stores__big">
            <a href="#" class="stores__link "><img src="images/amazon.png"></a>
        </div>
        
        <div class="stores__big stores__big_second">
            <a href="#" class="stores__link "><img src="images/ebay.png"></a>
        </div>
        
        <div class="stores__big stores__big_third">
            <a href="#" class="stores__link "><img src="images/target.png"></a>
        </div>
        
                <div class="stores__big stores__big_fourth">
            <a href="#" class="stores__link "><img src="images/toysLarge.png"></a>
        </div>
        
    </div>
    
    <div class="stores__second">
        <div class="stores__small stores__small_first"><a href="#" class="stores__link "><img src="images/toys.png"></a></div>
        
        <div class="stores__small"><a href="#" class="stores__link "><img src="images/sears.png"></a></div>
        
        <div class="stores__small stores__small_third"><a href="#" class="stores__link "><img src="images/ace.png"></a></div>
        
        <div class="stores__small stores__small_fourth"><a href="#" class="stores__link "><img src="images/walmart.png"></a></div>
        
        <div class="stores__small stores__small_fifth"><a href="#" class="stores__link "><img src="images/barnes.png"></a></div>
        
        <div class="stores__small stores__small_sixth"><a href="#" class="stores__link "><img src="images/jcp.png"></a></div>
        
        <div class="stores__small stores__small_seventh"><a href="#" class="stores__link "><img src="images/bestbuy.png"></a></div>
        
        <div class="stores__small stores__small_eighth"><a href="#" class="stores__link "><img src="images/kohls.png"></a></div>
        
        <div class="stores__small stores__small_ninth"><a href="#" class="stores__link "><img src="images/mayces.png"></a></div>
        
        <div class="stores__small stores__small_last"><a href="#" class="stores__link "><img src="images/hcn.png"></a></div>
    </div>
    
    <div class="stores__seeall">
        <a class="stores__seeall_link" href="#">{{ stores.seeAllStores }}
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </a>
    </div>
</div>