$blue: #3081be;
$lightblue: #bfd7eb;
$green: #66b44a;
$red: #e63d42;
$darkblue: #055b9d;

$desktoplarge: 1220;
$desktop: 1024;
$tablet: 830;
$tabletsmall: 710;
$tabletsmall2: 650;
$mobilelarge: 550;
$mobile: 500;
$mobilesmall: 410;
$mobilemin: 325;


